.visible {
  display:contents;
  color: black;
  background-color: #000000;
}


.hidden {
  display: none;
}

.arena{
    background-color: black;
    color: white;
    display:grid;
    grid-template-areas:
    "enemy  order enemyStats"
    "team  team playerStats";
    grid-template-rows: auto 1fr;
    grid-template-columns:  1fr 0.1fr 0.5fr;
    min-width: 100%;
    min-height: 100%;
    border: solid 2px aqua; 
    
}

.battleLogsContainer{
  width: 96.1%;         
  max-height: 450px;    
  overflow-y: auto;   
  border: 1px solid #ccc;  
  padding: 10px;       
  background-color: #000000;
}

.hpBar {
    background-color: grey;
    border: 1px solid black;
    height: 20px;
    width: 100%; /* Full width as a container */
    position: relative;
    max-width: 100%;
  }
  
  .hpFill {
    background-color: green;
    height: 100%;
    transition: width 0.9s ease;
  }

.enemyContainer{
    display: flex;
    grid-area: enemy
    
}

.teamContainer{
    display: flex;
    grid-area: team;
    
}

.monContainer{
    
    position: relative;
}

.mon{
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    margin: 5px 0.5vh 0px 0.5vh;
    position: relative;
    z-index: 1;

}

.target {
  border: solid 2px red !important;
 
}

.activeMon{
    border: solid 2px aqua;
    transition: border 1s ease, transform 1s ease;
    animation: rainbowText 7s infinite;
    
}

.enemy{
    background-color: black;
    border: solid 2px rgb(0, 0, 0);
    transition:  1s ease;
    margin: 5px;
    
}


.order {
    grid-area: order;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
    display: flex;
    width: 15vh;
    
}
.orderTab {
  width: 11vh; 
  transition: width 1s ease;
  display: flex;
  align-items: center;
  border:solid 1px #02ffff;
  
  i {
   
    width: 1vh;
    height: 1vh;
    background-color: aqua;
    
  }

  p{
    color:red
  }

}

.activeOrder {
  border: solid 2px aqua;
  width: 12vh; 
  animation: rainbowText 7s infinite;
}


    
.damageIndicator {
  position: absolute;
  color: red;
  font-size: 25px;
  animation: fadeOut 2s forwards; /* Fading out over 1 second */
  z-index: 10;
  padding-left: 1%;
  
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 0;
    transform: translateY(60px); /* Move upwards while fading */
  }
}


@keyframes rainbowText {
  100%,0%{
    border-color: rgb(255,0,0);
  }
  8%{
    border-color: rgb(255,127,0);
  }
  16%{
    border-color: rgb(255,255,0);
  }
  25%{
    border-color: rgb(127,255,0);
  }
  33%{
    border-color: rgb(0,255,0);
  }
  41%{
    border-color: rgb(0,255,127);
  }
  50%{
    border-color: rgb(0,255,255);
  }
  58%{
    border-color: rgb(0,127,255);
  }
  66%{
    border-color: rgb(0,0,255);
  }
  75%{
    border-color: rgb(127,0,255);
  }
  83%{
    border-color: rgb(255,0,255);
  }
  91%{
    border-color: rgb(255,0,127);
  }
}