.mainContainer {
    display:grid;
    grid-template-areas:
    "team  stats"
    "items  stats";
    grid-template-rows: 0.001fr 1fr;
    grid-template-columns:  1fr 0.3fr;
    min-width: 100%;
    min-height: 100%;
    color: white;
}

.team{
    grid-area: team;
    background-color: #000000;
    padding: 20px;
    display: flex;
    border: solid 1px aqua;
}

.stats{
    grid-area: stats;
    
    padding: 20px;
    border: solid 1px aqua;
}

/* design for the hole box */
.box{
    display:grid;
    grid-area: items;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    overflow: auto;
    max-height: 800px;
}

/* design for the idividual item */
.items {
    border: solid 1px aqua;
    text-align: center;
    min-height: 100px;
    margin: 10px;
    padding: 10px;
}

.stats{
    grid-area:  "stats";
}