.mainContainer {
    display:grid;
    grid-template-areas:
    "mon item stats"
    "mon item stats";
    grid-template-rows: 1fr 1fr;
    grid-template-columns:  1fr  2fr 1fr;
    min-width: 100%;
    min-height: 100%;
    color: white;
  
    
}

.itemSelection{
    border-radius: 0px;
    border:solid grey 0.1vh;
    padding: 0.5vh;
    margin: 0px;
    max-width: 100%;
    min-width: 20%;
    
}

.team{
    grid-area: mon;
    background-color: #000000;
    padding: 20px;
    display: flex;
    border: solid 1px aqua;
}

.stats{
    grid-area: stats;
    
    padding: 20px;
    border: solid 1px aqua;
}

/* design for the hole box */
.box{
    display:grid;
    grid-area: item;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    overflow: auto;
    max-height: 800px;
}

/* design for the idividual item */
.items {
    border: solid 1px aqua;
    text-align: center;
    min-height: 100px;
    margin: 10px;
    padding: 10px;
}

.stats{
    grid-area:  "stats";
}