.MonManager{
    display: grid;
    grid-template-areas: 
    "mon focusedMon"
    "mon funktions";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 0.3fr;
}

.stats{
    grid-area: focusedMon;
}

.attacks{
    display: grid;
  
    div{
        color: rgba(130, 100, 100, 0.5);
        color: #693434;
    
    }
    p{
       

    }
}

.funtions {
    grid-area: buttons;
    input {
        background-color: black;
        color: grey;
       
        width: 15vw;
        height: 2vh;
    }
    bottom {
        height: 2vh !important;
        
    }
}

/* levelManager */


.levelManager {
    grid-area: mon;
    display: grid;
    grid-template-areas: 
    "cost  mon NA"
    "cost upgrade NA";
    grid-template-rows: 1fr 1fr ;
    grid-template-columns:  1fr 1fr 1fr;
    color: white;
   
}

.expBar{
    width: 100%;
    border:solid 1px grey;
}

.expBarFill{
   width: 0;
   background-color: aqua;
   transition: width 0.8s;
   height: 100%;
}

.mon {
    grid-area: mon;
}

.cost {
    grid-area: cost;
}

.upgrade {
    grid-area: upgrade;
}



/* attackManager */

.attackManager {
    grid-area: mon;
    display: grid;
    grid-template-areas: 
    "buttons  buttons"
    "monAttacks  inventory";
    grid-template-rows: 4vh 1fr;
    grid-template-columns:  0.4fr 1fr;
   
}

.items{
    grid-area: inventory;
    display: grid;
    grid-template-rows: min-content  min-content min-content min-content min-content min-content min-content min-content;
    grid-template-columns:  1fr 1fr 1fr ;
    height: auto;

  

}

.monAttacks{
    grid-area: monAttacks;
}


/* monManager */

.focusedBox{
    border: solid 1px red ;
}


.box{
    grid-area: mon;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
   
}

.boxSlot{
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: center;
   
    align-content: center;
    margin: 10px;
    position: relative;

    header {
        display: flex;
        justify-content: space-between;
        z-index: 0;
    }

    i {
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.1);
        margin-top: 20%;
    }


    img{
        width:100%;
        padding: 5px;
        position: relative;
        left: 0;
      
    }
    p {
        position: relative;
        background-color: rgb(255, 255, 255);
        color: black;
        
       
    }
    h1 {
        padding: 5px;
        background-color: black;
    }
    span {
        
    }
}