.MonManager{
    display:grid;
    grid-template-areas:
    "team  stats"
    "box  stats";
    grid-template-rows: 0.001fr 1fr;
    grid-template-columns:  1fr 0.3fr;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
}

.team{
    grid-area: "team";
    display:flex;
    align-items: flex-start;
    background: Linear-gradient(45deg, grey, #000001 );
    margin-bottom: 10px;

    div {
        padding: 0px 15px 0px 15px;
    }
    
}



.stats{
    grid-area: "stats";
    display:grid;
    grid-row: span 2;
    background: Linear-gradient(45deg, grey, #000001 );
    margin: 0px 10px 0px 10px;
    color: white;

}

.box{
    grid-area: "box";
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background: Linear-gradient(0deg, grey, #2b4b4b );
    padding: 10px;
    
}

.boxSlot {
    background-color: rgb(107, 107, 107);
    color: white;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 10px;
    position: relative;


    img{
        width:100%;
        padding: 5px;
    }
    p {
        position: relative;
        background-color: black;
       
    }
    
}