.sidebar{
    color: white;
    text-align: left;
    align-items: left;
    height:96vh;
    transition: 2s;
    padding: 15px;

}
.list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: grid;

    
    li {
        text-decoration: none;
        width: 100%;
        background-color: rgb(0, 0, 0);
        border-top: solid 1px black;
        padding: 10px 0px 10px 0px;
        border-top: 1.5px solid gray;
        border-bottom: 1px solid gray;

    }
    
    li:hover {
        background-color: rgb(97, 97, 97);
    }

    li.active {
        background-color: #262626;
            color: white;
    }
    

    
}


@media (max-width: 768px) {
    .sidebar {
       display: none;
       
    }
    .list {
        width: 0vh;
    }
    span:hover{
        .sidebar {
            display:block !important;
        }
        .list {
            width: 10vh!important;
        }
    }
}