.App {
    display: grid;
    grid-template-areas:
      "aside header header"
      "aside main main";
    grid-template-rows: 0.06fr 1fr;
    grid-template-columns: 0.8fr 6fr;
    height: 100vh;
  }

  body{

  }
  
  header {
    grid-area: header;
    
    
   
  }
  
  aside {
    grid-area: aside;
    background-color: #1c1c1d;
    padding: 1rem;
  }
  
  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
  }

  .MonManager{
    
    background-color: #1c1c1d;
    padding: 1rem;
  }

