.arena{
    background-color: black;
    color: white;
}

.enemyContainer{
    display: flex;
    
}

.teamContainer{
    display: flex;
}

.mon{
    background-color: rgb(0, 0, 0);

}

.activeMon{
    background-color: aqua;
}

.enemy{
    background-color: black;
}

.activeEnemy {
    background-color: aqua;
    transition: 1s;
}