.arena{
    background-color: black;
    color: white;
    display:grid;
    grid-template-areas:
    "enemy  enemyStats"
    "team  playerStats";
    grid-template-rows: 0.002fr 1fr;
    grid-template-columns:  1fr 0.4fr;
    min-width: 100%;
    min-height: 100%;
    
}
.battleLogsContainer{
  width: 96.1%;         
  max-height: 450px;    
  overflow-y: auto;   
  border: 1px solid #ccc;  
  padding: 10px;       
  background-color: #000000;
}

.hpBar {
    background-color: grey;
    border: 1px solid black;
    height: 20px;
    width: 100%; /* Full width as a container */
    position: relative;
  }
  
  .hpFill {
    background-color: green;
    height: 100%;
    transition: width 0.9s ease;
  }

.enemyContainer{
    display: flex;
    grid-area: "enemy"
    
}

.teamContainer{
    display: flex;
    grid-area: team;
    
}

.monContainer{
    position: relative;
}

.mon{
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    margin: 5px;
    position: relative;
    z-index: 1;

}

.activeMon{
    border: solid 2px aqua;
    transition: border 1s ease, transform 1s ease;
    
}


.enemy{
    background-color: black;
    transition:  1s ease;
}

.activeEnemy {
  border: solid 2px aqua;
  transition: border 1s ease, transform 1s ease;
    
}


@keyframes spin {
  from {
    transform: rotate(0deg); /* Startet bei 0 Grad */
  }
  to {
    transform: rotate(360deg); /* Dreht sich vollständig um 360 Grad */
  }
}
    
