.header {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100%;
    width: 100%;

}

.p {
    padding: 0px;
    margin: 0px;
   
}

.Progessbar {
    background-color: rgb(46, 45, 45);
    height: 10px;
}

.i {
    display:block;
    background-color: turquoise;
    height: 10px;
    
}