.sidebar{
    color: white;
    text-align: left;
    align-items: left;

}
.list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    li {
        text-decoration: none;
        width: 100%;
        background-color: gray;
        border-top: solid 1px black;

    }
    li:hover {
        background-color: chartreuse;
    }

    li.active {
        background-color: #007bff;
            color: white;
    }

    
}

