.sidebar{
    color: white;
    text-align: left;
    align-items: left;

}
.list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: grid;
    
    li {
        text-decoration: none;
        width: 100%;
        background-color: rgb(0, 0, 0);
        border-top: solid 1px black;

    }
    
    li:hover {
        background-color: chartreuse;
    }

    li.active {
        background-color: #262626;
            color: white;
    }
    

    
}

