.App {
    display: grid;
    grid-template-areas:
      "aside header header"
      "aside main main";
    grid-template-rows: 0.006fr 1fr;
    grid-template-columns: 0.8fr 6fr;
    height: 1000vh;
    overflow: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }

  body{

  }
  
  header {
    grid-area: header;
    background-color: black;
  
   
  }
  
  aside {
    grid-area: aside;
    background-color: #1c1c1d;
    padding: 1rem;
  }
  
  main {
    grid-area: main;
    background-color: rgb(0, 0, 0);
    
  }

  .MonManager{
    
    background-color: #1c1c1d;
    padding: 1rem;
  }

